<%if(page == "home"){ %>
<div>
    <div class="circle-center top"></div>
    <div id="timeline"><div id="timeline-slide"></div></div>
    <div class="circle-center bottom"></div>
</div>
<div class="blog-content p-4">
    <%for(let index = journalEntries.length - 1; index >= 0; index--){ %>
        <%if(index % 2 == 1 && content.search("nigger") == -1){%>
            <div class="container align-hor-left mt-4 mb-4">
                <div class="row">
                    <div class="col-lg-6 entry-text">
                        <h1 class="h1 text-truncate trunc-width"><%-journalEntries[index].title%></h1>
                        <p class="text-truncate trunc-width entry-content h6">
                            <%-journalEntries[index].content%>
                        </p>
                        <form action="/entry" method="post">
                            <button type="submit" name="_id" value="<%=journalEntries[index]._id%>" class="btn btn-lg btn-outline-info">
                                Read More
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-6 d-inline-block">
                        <img class="entry-icon entry-icon-styles" src="<%=journalEntries[index].entryIcon%>">
                    </div>
                </div>
                    <div class="fit align-ver-center opacity-control">
                        <div class="circle"></div>
                        <div class="branch"><div class="branch-slide"></div></div>       
                    </div>
            </div>
            <br><br>
        <%}%>
        <%if(index % 2 == 0 && index != 0 && content.search("nigger") == -1){ %>
            <div class="container align-hor-right mb-4">
                    <div class="fit align-ver-center opacity-control">
                        <div class="branch"><div class="branch-slide"></div></div>
                        <div class="circle"></div>
                    </div>
                    <div class="row">
                        <div class="right-entry-icon mt-4">
                            <div class="col-lg-6">
                                <img class="entry-icon entry-icon-styles" src="<%=journalEntries[index].entryIcon%>">
                            </div>
                        </div>
                        <div class="right-entry-text">
                            <div class="col-lg-6 entry-text mt-4">
                                <h1 class="h1 text-truncate trunc-width"><%-journalEntries[index].title%></h1>
                                <p class="text-truncate trunc-width entry-content h6">
                                    <%-journalEntries[index].content%>
                                </p>
                                <form action="/entry" method="post">
                                    <button type="submit" name="_id" value="<%=journalEntries[index]._id%>" class="btn btn-lg btn-outline-info">
                                        Read More
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
            </div> 
            <br><br>
        <%}%>
    <%}%>
</div> 

</div>
<%}%>
