<%if(page == "home"){ %>
<div class="opacity-control">
    <div class="circle-center top"></div>
    <div id="timeline"><div id="timeline-slide"></div></div>
    <div class="circle-center bottom"></div>
</div>
<div class="blog-content">
    <%for(let index = 0; index < journalEntries.length; index++){ %>
        <%if(index % 2 == 0 || index == 0){%>
            <div class="container align-hor-left mb-4">
                    <div class="entry-text">
                        <h3 class="h3"><%-journalEntries[index].title%></h3>
                        <p class="text-truncate trunc-width entry-content h6">
                            <%-journalEntries[index].content%>
                        </p>
                        <form action="/entry" method="post">
                            <button type="submit" name="_id" value="<%=journalEntries[index]._id%>" class="btn btn-lg btn-outline-light">
                                Read More
                            </button>
                        </form>
                    </div>
                    <div class="fit align-ver-center opacity-control">
                        <!-- <div class="row"> -->
                            <!-- <div class="col-lg-7">
                                console.log(journalEntries[index])
                                if(journalEntries[index].img == undefined){
                                    <img class="img-thumbnail mb-4" src="images/enter.png" alt="meditation img" >
                                } 
                                else{ 
                                    <img class="img-thumbnail mb-4" src="journalEntries[index].img.path" alt="meditation img" >
                                } 
                            </div> -->
                            <!-- <div class="opacity-control"> -->
                                <div class="circle"></div>
                                <div class="branch"><div class="branch-slide"></div></div>
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
            </div>
        <%}%>
        <%if(index % 2 == 1){ %>
            <div class="container align-hor-right mb-4">
                    <div class="fit align-ver-center opacity-control">
                        <!-- <div class="row"> -->
                            <!-- <div class="opacity-control"> -->
                                <div class="branch"><div class="branch-slide"></div></div>
                                <div class="circle"></div>
                            <!-- </div> -->
                            <!-- <div class="col-lg-7">
                                console.log(journalEntries[index])
                                if(journalEntries[index].img == undefined){
                                    <img class="img-thumbnail mb-4" src="images/enter.png" alt="meditation img" >
                                }
                                else{ 
                                    <img class="img-thumbnail mb-4" src="journalEntries[index].img.path" alt="meditation img" >
                                 }
                            </div>
                        </div> -->
                    </div>
                    <div class="entry-text">
                        <h3 class="h3"><%-journalEntries[index].title%></h3>
                        <p class="text-truncate trunc-width entry-content h6">
                            <%-journalEntries[index].content%>
                        </p>
                        <form action="/entry" method="post">
                            <button type="submit" name="_id" value="<%=journalEntries[index]._id%>" class="btn btn-lg btn-outline-light">
                                Read More
                            </button>
                        </form>
                    </div>
            </div> 
        <%}%>
    <%}%>
</div>
<%}%>